.like_count {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.like_counter {
    font-family: 'Inter', Arial, sans-serif;
    line-height: 15px;
    font-size : 13px;
    margin: 3px 0 0 0;
    padding: 0;
}